*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1260px;
    margin: 0 auto;
}

.container2{
    max-width: 900px;
    margin: 0 auto;
}

/*header*/

header{
    background-color: #C4170C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 10px;
}

header li{
    display: inline;
}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    text-decoration: underline;
}

#searchInput{
    width: 200px;
    height: 30px;
    padding: 5px;
    border-radius: 15px 0 0 15px;
    border: 0;
    margin: 0;
}

#searchButton{
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    border-radius: 0 15px 15px 0;
    border: 0;
    margin: 0;
    cursor: pointer;
    margin-left: -5px;
}

/*section API*/

#noticias div{
    margin: 20px 0 20px 0;
    padding-bottom: 5px;
    border-bottom: 2px solid #C4170C;
}

#noticias a{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #C4170C;
    border-radius: 10px;
    color: white;
    padding: 5px;
    margin: 10px 45% 0 45%;
}

/*section notícias*/

#section-noticias{
    padding: 20px;
    margin-bottom: 10px;
}

#section-noticias img{
    height: 250px;
    border-radius: 20px;
}

.noticias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.noticias-single{
    max-width: 280px;
    text-align: center;
    margin-right: 20px;
}

.noticias-single button{
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: #C4170C;
    color: white;
    font-size: 18px;
}

.noticias-single button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/*footer*/

footer{
    background-color: #C4170C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 10px;
}

footer li{
    display: inline;
}

footer a{
    text-decoration: none;
    color: white;
}

footer h2{font-size: 32px;}

footer a:hover{
    text-decoration: underline;
}


